<div class="container">
    <div class="mt-4">
        <div class="row">
            {{#each sanphams}}
            <div class="col-sm-6 col-lg-3" style="margin-top: 10px;">
                <div class="card">
                    <img class="card-img-top" src="{{this.image}}" alt="fail">
                    <div class="card-body">
                        <h5 class="card-title">{{this.ten}}</h5>
                        <h5 class="card-title">{{this.gia}}</h5>
                        <p class="card-text">{{this.mota}}</p>
                        <div style="text-align: center;">
                            <a href="/sanpham/{{this._id}}/edit" class="btn btn-primary">UPDATE</a>
                            <a href="" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}"
                                data-target="#delete-Sanpham-model">
                                DELETE </a>
                        </div>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{!-- modal xoa --}}
<div id="delete-Sanpham-model" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông Báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn Có Chắc Là Muốn Xóa Nó Không ?</p>
                <p>Khi Xóa Dữ Liệu Sẽ Không Khôi Phục Được !</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-sanpham" type="button" class="btn btn-danger">DELETE</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<form name="from-delete" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var idsp;
        var deletefrom = document.forms['from-delete']
        $('#delete-Sanpham-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            idsp = button.data('id');
        });
        var btnDelete = document.getElementById('btn-delete-sanpham')
        btnDelete.onclick = function () {
            deletefrom.action = idsp + '?_method=DELETE';
            deletefrom.submit();
        }
    })
</script>